@model cliente

@Html.HiddenFor(c => c.idClientes, new { id = "hfIDCliente" })

<div class="row">
    <div class="row">
       
        <div class="col-lg-12">
            <form role="form">
               
                <fieldset disabled>
                   
                    <div class="form-group col-lg-8">
                        <label>Nome :</label>

                        @Html.TextBoxFor(c => c.nome, new { @class = "form-control", @id = "txtnome" })
                    </div>
                    @*<div class="form-group col-lg-4">
                        <label>CPF :</label>

                        @Html.TextBoxFor(c => c.CPF, new { @class = "form-control", @id = "txtCPF" })
                    </div>
                    <div class="form-group col-lg-4">
                        <label>RG:</label>

                        @Html.TextBoxFor(c => c.RG, new { @class = "form-control", @id = "txtRG" })
                    </div>*@
                    <div class="form-group col-lg-4">
                        <label>Telefone 1:</label>

                        @Html.TextBoxFor(c => c.telefone1, new { @class = "form-control", @id = "txtTelefone1" })
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Telefone 2:</label>

                        @Html.TextBoxFor(c => c.telefone2, new { @class = "form-control", @id = "txtTelefone2" })
                    </div>
                    <div class="form-group col-lg-8">
                        <label>Email:</label>

                        @Html.TextBoxFor(c => c.email, new { @class = "form-control", @id = "txtEmail" })
                    </div>
                   
                       
                   
                </fieldset>
                <div class=" col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="page-header">Historico do Cliente</h3>
                        </div>
                        <div class=" col-lg-6 ">

                            <button type="button" class="btn btn-info col-lg-3 col-lg-offset-9" data-toggle="modal" data-target="#myModalBusca">Alterar Cliente</button>

                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <div id="divHistoricoCliente">
                        @Html.Action("historicoCliente", "cliente", new { @id = Model.idClientes, @finaliza = true })
                    </div>

                </div>
            </form>
        </div>
        <!-- /.col-lg-6 (nested) -->
        <!-- /.col-lg-6 (nested) -->
    </div>
</div>